@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-bebas: "Bebas Neue", "serif";

  --color-primary-chocolate: #2c1c14;
  --color-secondary-chocolate: #733c30;
  --color-primary-light-chocolate: #c5a67f;
  --color-dull-chocolate: #a68077;
  --color-primary-text: #f2f2f2;
  --color-dull-text: #9b928e;
  --color-gray-background: #191919;
}
